# Step 2: Extracting Data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#### Loading the Dataset

In [2]:
df = pd.read_csv('data/stud.csv')
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Step 3: Data Checks and Transformations

#### 3.1 Check for Missing Values

In [3]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

#### 3.2 Check for Duplicates

In [4]:
df.duplicated().sum()

np.int64(0)

#### 3.3 Data Types and Structure

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

# Step 4: Exploratory Data Analysis (EDA)

#### 4.1Categorical Analysis

In [6]:
df['gender'].unique()

array(['female', 'male'], dtype=object)

In [7]:
df.columns = df.columns.str.strip()

for col_name in df.columns:

   if df[col_name].dtype == "object":
        
        print(f"Categories in {col_name} variable:")
        print(df[col_name].unique())
        print("\n")

Categories in gender variable:
['female' 'male']


Categories in race_ethnicity variable:
['group B' 'group C' 'group A' 'group D' 'group E']


Categories in parental_level_of_education variable:
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']


Categories in lunch variable:
['standard' 'free/reduced']


Categories in test_preparation_course variable:
['none' 'completed']

In [8]:
numeric_features = [feature for feature in df.columns if df[feature].dtype != "O"]

categorical_features= [feature for feature in df.columns if df[feature].dtype == "O"]

print("\nTespit edilen sayısal sütunlar:", numeric_features)
print("Tespit edilen kategorik sütunlar:", categorical_features)

Tespit edilen sayısal sütunlar: ['math_score', 'reading_score', 'writing_score']
Tespit edilen kategorik sütunlar: ['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

#### 4.2Adding Columns for Total and Avarage Score

In [9]:
df['total score'] = df['math_score'] + df['reading_score'] + df ['writing_score']
df['average'] = df['total score'] /3
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333